extends ../layout/b4  
block content
    .row
        iframe(src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D2218046251826290%26set%3Da.1439003783063878%26type%3D3&width=1200",
        width="700", height="700", style="border:none;overflow:hidden", scrolling="no", frameborder="0", allowTransparency="true",
        allow="encrypted-media")