html
    head
        title Library - #{ title ? title : "Welcome"}
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/style.css")
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')

    body
        .container.pb-4
            nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
                a.navbar-brand(href='/')
                    img(src='/img/toast.jpg', alt='logo', style='width:40px;')
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/bookshelf') Bookshelf
                    li.nav-item
                        a.nav-link(href='#') Contact
            block content
    footer
        .blockquote-footer.text-center @create by Nguyễn Hoàng Anh

