/* style */
:root {
  --primary-color: #fff;
}
.toast {
  background-color: rgba(255, 0, 64, 0.1);
  width: 300px;
  color: #fff;
}

body {
  background-color: rgb(236, 235, 233);
}
.container {
  background-color: rgb(226, 209, 209) !important;
  /* height: 100%; */
  padding-left: 0px;
  padding-right: 0px;
}
.footer {
  display: flex;
  justify-content: center;
}
.nav {
  background-color: #dcb257cf;
  background: radial-gradient(
    circle,
    rgba(52, 58, 64, 1) 0%,
    rgba(52, 58, 64, 0.9335084375547094) 100%
  );
}

.navbar-brand img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}
