extends ../layout/b4.pug
block content
    link(rel="stylesheet", href="/style/bookshelf.style.css")
    .m-4
        h1 Add Book
        form(action="/bookshelf/create", method="POST")
            label(for="") Book name:
                input(type="text", name="bookName", class="form-control")
            br
            label(for="") Description:
                input(type="text", name="description",class="form-control")
            br
            button(class="btn btn-outline-success") Create
    if errs
        each err in errs
            .toast(style='position: absolute; top: 0; right: 0;' data-errs="true" data-delay="7000")
                .toast-header
                img.rounded.mr-2(src='/img/toast.jpg',width="30px",height="30px", alt='...')
                strong.mr-auto Something wrong
                small  Ohm..!
                button.ml-2.mb-1.close(type='button', data-dismiss='toast', aria-label='Close')
                    span(aria-hidden='true') &times;
                .toast-body 
                    h4= err
                |OMG! Love You So Much
    script(src="/script/bookshelf.script.js")
