extends ../layout/b4  
block content
    h1.text-center List of Books
    .m-4
        form.form-group(action="bookshelf", method="post")
            label(for="", class="mr-sm-2") Tìm Kiếm 
                input(type="text", name="searchValues",class="form-control")
            button(type="submit").btn.btn-outline-primary.m-2 Search
        a(href="bookshelf/create").btn.btn-outline-primary.m-2 New
        br
        ul
            each book in bookshelf
                li 
                    h3= book.bookName
                    span(class="lead") description: 
                    i= book.description
                    a(href="bookshelf/" + book.bookId) View