extends ../layout/b4  
block content
    h1.text-center List of Books
    .m-5
        form.form-group.row(action="bookshelf", method="post").ml-5
            label(for="searchValues").mr-2 Tìm Kiếm:
            input(type="text", placeholder=" Tìm kiếm..." name="searchValues",class="form-control").w-75.shadow-sm
            button.mr-auto(type="submit").btn.btn-outline-primary
                <i class="fas fa-search fa-lg"></i>
                span  Search
        a.ml-5(href="bookshelf/create").btn.btn-outline-primary.m-2 
            i.fas.fa-plus
            span  New
        br
        .row.mx-auto
            each book in bookshelf
                .col-sm-4
                    .card.m-2.shadow-lg.rounded(style='max-width: 540px;')
                        .row.no-gutters
                            .col-md-4
                                i.fas.fa-bookmark.fa-lg.text-success.position-absolute
                                img.card-img(src='https://picsum.photos/id/1/200/270', alt='...')
                            .col-md-8
                                .card-body
                                    h5.card-title
                                        a(href=`/bookshelf/${book.bookId}`)=book.bookName
                                    p.card-text
                                        | #{book.description}
                                    p.card-text
                                        small.text-muted Last updated 3 mins ago